
.plab-cta {
  position: relative;
  z-index: 1;
  padding: 100px 4rem;
  /* overflow: hidden; */
  background-color: #ffffff;
}

.plab-cta__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
}

.plab-cta__title {
  color:#000000;
  font-size: clamp(32px, 3.6vw, 45px);
  width:  20ch;
  line-height: 1.22;
  letter-spacing: -0.02em;
  font-weight: 700;
  margin: 0 0 32px;
}

.plab-cta__title span {
  display: block;
  color: var(--plab-green-dark);
}

.plab-cta__btn {
  display: inline-flex;
  align-items: center;
  padding: 13px 26px;
  border-radius: 8px;
  background: var(--plab-green-dark);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(20, 115, 21, 0.3);
  transition: background 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

.plab-cta__btn:hover {
  background: var(--plab-green-mid);
  transform: translateY(-2px);
  box-shadow: 0 6px 22px rgba(94, 188, 54, 0.4);
}

/* recorte irregular */
.plab-cta__media {
  position: relative;
  z-index: 4;
}

.plab-cta__media img {
  display: block;
  width: 100%;
  min-width: 0;
  margin-top: -9rem;
  /* margin-bottom: -5rem; */
  aspect-ratio: 16 / 7;
  object-fit: cover;
  clip-path: polygon(
    4% 6%,
    72% 0%,
    100% 9%,
    97% 74%,
    100% 96%,
    28% 100%,
    2% 92%,
    0% 30%
  );
  
}


@media (max-width: 1480px) {

  .plab-cta {
  padding: 80px 2.5rem;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
  }

  .plab-cta__inner {
    grid-template-columns: 1fr;
    gap: 36px;
  }

  .plab-cta__title {
    margin-bottom: 24px;
  }

  .plab-cta__inner {
    gap: 40px;
  }

  .plab-cta__title {
    width: auto;
    max-width: 26ch;
  }
  .plab-cta__media {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  margin: 0;
  z-index: -1;
  }

  .plab-cta__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
    aspect-ratio: auto;
    clip-path: polygon(
    0% 0%,
    72% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    0% 100%,
    1% 100%,
    15% 30%
  );;
    margin: 0;
  }

}

@media (max-width: 900px) {

  .plab-cta__title {
    width: auto;
    max-width: 28ch;
  }

}



@media (max-width: 890px) {

  .plab-cta {
    padding: 48px 1.25rem;
  }

  .plab-cta__inner {
    gap: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plab-cta__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plab-cta__title {
    text-align: center;
  }



  .plab-cta__btn {
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 50px;
  }

  .plab-cta__media img {
    display: none;
  }
}